#acesso {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
}


#acesso .form {
    background-color: #0fb42a;
    width: 100%;
    max-width: 480px;
    padding: 0.5rem;

}

#acesso .form h1{
    text-align: center;
}
#acesso .field {
    padding-bottom: 0.5rem;
}

#acesso .field label {
    display: block;
}

#acesso .field input {
    width: 100%;
}

#acesso .actions {
    text-align: center;
    margin-top: 0.5rem;
}